@import url('./__logo/header__logo.css');
@import url('./__langs/header__langs.css');
@import url('./__lang-link/header__lang-link.css');
@import url('./__lang-link/_active/header__lang-link_active.css');

.header {
    margin: 28px 48px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

@media screen and (max-width: 1024px) {
    .header {
        width: 928px;
        max-width: 93.75%;
    }
}

@media screen and (max-width: 768px) {
    .header {
        margin: 28px 24px 0;
    }
}

@media screen and (width: 320px) {
    .header {
        margin: 16px 16px 0;
        width: 288px;
    }
}
