.lead__title {
    width: 720px;
    min-width: 288px;
    margin: 0 0 32px;
    text-align: center;
    font-weight: 900;
    font-size: 6em;
    line-height: 1.05;
}

@media screen and (max-width: 720px) {
    .lead__title {
        width: 90%;
        font-size: 2.5rem;
        line-height: 1.1;
        margin-bottom: 16px;
    }
}
