@import url('./__title/intro__title.css');
@import url('./__text/intro__text.css');
@import url('./__list/intro__list.css');
@import url('./__highlighting/intro__highlighting.css');

.intro {
    width: 83.1%;
}

@media screen and (max-width: 1024px) {
    .intro {
        width: 90.625%;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        width: 93.75%;
    }
}

@media screen and (width: 320px) {
    .intro {
        width: 288px;
    }
}
