@import url('./__link/footer__link.css');
@import url('./__column-links/footer__column-links.css');
@import url('./__copyright/footer__copyright.css');
@import url('./__column-element/footer__column-element.css');

.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: white;
    margin-bottom: 24px;
    align-self: center;
}

@media screen and (max-width: 1024px) {
    .footer {
        width: 928px;
        max-width: 93.75%;
    }
}

@media screen and (max-width: 620px) {
    .footer {
        flex-direction: column;
        align-self: flex-start;
        line-height: 14px;
        margin: 0 118px 24px 16px;
    }
}
